body {
  background: #f8f8f8;
  color: #333333;
  padding: 20px;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

body > *,
body > * > * {
  margin: 0;
  padding: 0;
}

#wrapper {
  min-width: 950px;
}

#editor {
  float: left;
  width: 600px;
}

#source {
  width: 600px;
  min-height: 500px;
  padding: 5px;
  resize: none;
  position: relative;
  z-index: 1;
}

#preview {
  position: absolute;
  left: 0;
  right: 30px;
  top: 30px;
  padding: 3px;
  margin-left: 650px;
  background: #dddddd;
  border-radius: 3px;
}

#name {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #555555;
  text-shadow: 0 1px 0 white;
  border: 1px solid #cacaca;
  border-bottom: 0 none;
  background: #fafafa;
  background: -moz-linear-gradient(#fafafa,#eaeaea);
  background: -webkit-linear-gradient(#fafafa,#eaeaea);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',endColorstr='#EAEAEA')";
}

#name + * :first-child {
  margin-top: 0;
}

#markdown {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #cacaca;
  line-height: 1.4em;
}
